@model MvcMovie.Models.Product
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <form class="form-horizontal" method="post" asp-controller="Products" asp-action="Create">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                <i class="fa fa-times"></i>
            </button>
            <div class="form-group">
                <label>품목코드</label>
                <input type="text" class="form-control" asp-for="p_code" placeholder="품목코드  입력" />
                <span class="text-danger" asp-validation-for="p_code"></span>
            </div>
            <div class="form-group">
                <label>품목명</label>
                <input type="text" class="form-control" asp-for="p_name" placeholder="품목명  입력" />
                <span class="text-danger" asp-validation-for="p_name"></span>
            </div>
            <div class="form-group">
                <label>사이즈</label>
                <input type="text" class="form-control" asp-for="p_measure" placeholder="사이즈  입력" />
                <span class="text-danger" asp-validation-for="p_measure"></span>
            </div>
            <div class="form-group">
                <label>수량</label>
                <input type="text" class="form-control" asp-for="p_many" placeholder="수량  입력" />
                <span class="text-danger" asp-validation-for="p_many"></span>
            </div>
            <div class="form-group">
                <label>창고위치</label>
                <input type="text" class="form-control" asp-for="p_location" placeholder="창고위치  입력" />
                <span class="text-danger" asp-validation-for="p_location"></span>
            </div>
            <div class="form-group">
                <label>공급가</label>
                <input type="text" class="form-control" asp-for="p_comprice" placeholder="공급가  입력" />
                <span class="text-danger" asp-validation-for="p_comprice"></span>
            </div>
            <div class="form-group">
                <label>단위</label>
                <input type="text" class="form-control" asp-for="p_amount" placeholder="단위  입력" />
                <span class="text-danger" asp-validation-for="p_amount"></span>
            </div>
            <div class="form-group">
                <label>브랜드</label>
                <input type="text" class="form-control" asp-for="p_brandname" placeholder="브랜드  입력" />
                <span class="text-danger" asp-validation-for="p_brandname"></span>
            </div>
            <div class="form-group">
                <label>소비자가격_정가</label>
                <input type="text" class="form-control" asp-for="p_customerprice" placeholder="소비자가격_정가  입력" />
                <span class="text-danger" asp-validation-for="p_customerprice"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">저장</button>
                <a class="btn btn-warning" asp-controller="Products" asp-action="Index">취소</a>
            </div>
        </form>
    </div>
    <div class="col-lg-4"></div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
